.stickman {
  width: 50px;
  height: 100px;
  position: relative;
}

.stickman .head {
  border-radius: 50%;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.stickman .body {
  border: 2px solid black;
  width: 2px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.stickman .left-arm, .stickman .right-arm {
  border: 2px solid black;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.stickman .left-arm {
  transform: rotate(45deg) translate(-20px, 0);
}

.stickman .right-arm {
  transform: rotate(-45deg) translate(20px, 0);
}

.stickman .left-leg, .stickman .right-leg {
  border: 2px solid black;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.stickman .left-leg {
  transform: rotate(-45deg) translate(-10px, 0);
}

.stickman .right-leg {
  transform: rotate(45deg) translate(10px, 0);
}